<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<title>馨品共享水</title>
</head>
<body>
    <!-- logo -->
    <section class="showBalanceBox">
        <section class="showBalance">
            <p class="moneylogo"></p>
            <p class="textBalance text-center">账号余额 (元)</p>
            <p class="numBalance text-center">999</p>
        </section>
    </section>
    <!-- slider --> 
    <section class="container showDataContent"> 
        <section class="slider">
            <h4>CiCi</h4>
            <h4>一周饮水统计表</h4>
            <table class="table table-data">
                <thead>
                    <tr>
                        <td>一</td>
                        <td>二</td>
                        <td>三</td>
                        <td>四</td>
                        <td>五</td>
                        <td>六</td>
                        <td>七</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>45</td>
                        <td>43</td>
                        <td>435</td>
                        <td>42</td>
                        <td>52</td>
                        <td>57</td>
                        <td>55</td>
                    </tr>
                </tbody>
            </table>
            <h4 class="text-right">累计：<span>4654</span>ML</h4>
            <ul class="slippage-list list-inline">
                <li class="slippage-active"></li>
                <li></li>
            </ul>
        </section>
    </section>
    <!-- footer -->
    <footer>
        <a class="btn1" href="{{:U('Home/index/index')}}"><span class="logo1"></span>首页</a>
        <a class="btn2" href="{{:U('Home/Consume/index')}}"><span class="logo2"></span>饮水记录</a>
        <a class="btn3" href="{{:U('Home/Flow/recharge')}}"><span class="logo3"></span>充值</a>
        <a><span class="logo4"></span>扫码取水</a>
        <a class="btn5" href="{{:U('Home/Users/mine')}}"><span class="logo5"></span>我的</a>
    </footer>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
    <script src="__PUBLIC__/Home/js/public.js"></script>
    <script src="__PUBLIC__/Home/js/jquery-1.11.1.min.js" ></script>
    <script>
        $(".logo1").css("background-position","-11.6rem 0");
        $(".btn1").css("color","#008C63");
    </script>
</body>
</html>
