<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main" style="background: #ecf0f5;">
        <div class="tableBox">
            <div class="titleBar">用户管理/<span>用户息情</span></div>
            <h1 class="deviceTitle text-center">当前用户：<span>465454215454</span></h1>
            <div class="tableList">
                <h3>用户基础信息</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>用户ID</th>
                            <th>姓名</th>
                            <th>手机</th>
                            <th>地址</th>
                            <th>账户余额</th>
                            <th>最后登录</th>
                            <th>登录IP</th>
                            <th>注册时间</th>
                            <th>状态</th>
                            <td>备注</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                        </tr>
                    </tbody>
                </table>
                <!-- 分页 -->
                <div class="pagination">
                    <ul>
                       
                    </ul>
                </div>
            </div>
            <div class="tableList">
                <h3>充值记录</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>充值流水ID</td>
                            <td>用户呢称</td>
                            <td>充值方式</td>
                            <td>充值金额/元</td>
                            <td>账户余额</td>
                            <td>充值时间</td>
                            <td>备注</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                        </tr>
                    </tbody>
                </table>
                <!-- 分页 -->
                <div class="pagination">
                    <ul>
                        
                    </ul>
                </div>
            </div>
            <div class="tableList">
                <h3>消费记录</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>   
                            <td>消费记录ID</td>
                            <td>用户呢称</td>
                            <td>账户余额</td>
                            <td>IC卡编号</td> 
                            <td>用水地址</td>
                            <td>用水时间</td>
                            <td>盛水量/mL</td>
                            <td>备注</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                            <td>455</td>
                        </tr>
                    </tbody>
                </table>
                <!-- 分页 -->
                <div class="pagination">
                    <ul>
                        
                    </ul>
                </div>
            </div>
        </div>
        <include file="Public/footer" />
    </div>
</div>