<!-- header part -->
<include file="Public/header" />
<!-- content part -->
<div class="content">
    <!-- nav part-->
    <include file="Public/nav" />
    <!-- from part-->
    <div class="row-fluid fl" id="main">
    <style type="text/css">
        .textarea{width: 215px; min-height: 110px; border: 1px solid #ccc;}
        .textarea p{
            padding: 0 10px;
            margin: 5px;
        }
        .control-group{position: relative;}
        .control-group .elected{position: absolute; top: 0;left: 0;}
        .control-group .textarea{margin-left: 190px;}
        .btn-groups .btns{
            margin: 150px 0 50px 90px;
            padding: 8px 35px;
            border-radius: 7px;
        }
    </style>
        <div class="tableBox">
            <div class="titleBar">机组管理/<span>机组设置</span></div>
            <div class="formBox">
                <form class="form-group" action="__URL__/add" method="post">
                    <div class="control-group">
                        <span>机组编码</span>
                        <input type="text" class="control" name="cname" placeholder="请输入机组编码" style="width:210px;">
                    </div>
                    <div class="control-group">
                        <span>设备编码</span>
                        <input type="text" class="control" name="dcode" placeholder="请输入设备编码" style="width:210px;">
                    </div>
                    <div class=" btn-groups">
                        <button class="btns reset btn-primary" type="reset">重置</button>
                        <button class="subbtn btns btn-primary" type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- footer part -->
        <include file="Public/footer"/>
    </div>
</div>

