<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">设备管理/<span>设备列表</span></div>
            <form class="form-search fr" action="" method="">
                <input type="text" class="input-medium" name="name" placeholder="请输入用户昵称" / >  
                <button type="submit" class="btn">查找</button>
            </form>
            <table class="table table-bordered table-hover text-center" >
                <thead class="h4 ">
                    <tr class="danger">
                        <td>ID</td>
                        <td>设备编号</td>
                        <td>绑定状态</td>
                        <td>设备信息（读）</td>
                        <td>激活日期（读）</td>
                        <td>设备状态（读）</td>
                        <td>是否在线（读）</td>
                        <td>添加时间</td>
                    </tr>
                </thead>
                <tbody>
                    <for start="1" end="2">
                        <volist name="deviceInfo" id="data">
                            <tr>
                                <td>{{$i}}</td>
                                <td><button class="btn-link">{{$data.device_code}}</button></td>
                                <td>{{$data.name}}</td>
                                <td>{{$data.phvalue}}</td>
                                <td>{{$data.updatetime}}</td>
                                <td>{{$data.dalivestause}}</td>
                                <td>{{$data.filter5}}</td>
                                <td>{{$data.dupdatetime}}</td>
                            </tr>
                        </volist>
                    </for>
                </tbody>
            </table>
            <!-- 上下页，请加样式 -->
            <div class="pagination pagination-lg pull-center">
                <ul>
                    {{$page}}
                </ul>
            </div>
        </div>
        <include file="Public/footer" />
    </div>
</div>

