<include file="Public/header" />
<include file="Public/nav" />
    <div class="breadcrumb">
        <h3>
            <span>设备管理</span>
             >>
            <span>设备列表</span>
        </h3>
    </div>
	<div class="tabbable" style="width: 97%; margin: 0 auto;">
        <form action="" method="" class="input-group col-md-3 pull-right" style="margin:20px; margin-right: 0">
	       	<input type="text" class="form-control" name="name" placeholder="请输入用户昵称" / >  
            <span class="input-group-btn">  
               <button class="btn btn-info btn-search">查找</button>
            </span>  
        </form>
		<table class="table table-bordered table-hover text-center" >
			<thead class="h4 ">
				<tr class="danger">
					<td>ID</td>
					<td>编号</td>
					<td>状态</td>
					<td>ph值</td>
					<td>滤芯1</td>
					<td>滤芯2</td>
					<td>滤芯3</td>
					<td>滤芯4</td>
                    <td>滤芯5</td>
					<td>标题10</td>
				</tr>
			</thead>
			<tbody>
                <tr>
                    <td>563</td>
                    <td>52425</td>
                    <td>开启</td>
                    <td>7.0</td>
                    <td>42%</td>
                    <td>42%</td>
                    <td>42%</td>
                    <td>42%</td>
                    <td>42%</td>
                    <td>标题10</td>
                </tr>
			</tbody>
		</table>
        <!-- 上下页，请加样式 -->
        <div class="pagination pagination-lg pull-center">
            <ul>
                
            </ul>
        </div>
	</div>
<include file="Public/footer" />