<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">设备管理/<span>设备添加</span></div>
            <div class="span8 offset2">
                <form class="tabbable table-bordered" action="__URL__/add_device" method="post">
                    <div class="controls">设备编码：
                        <input type="text" name="device_code" placeholder="请输入设备编码">
                        <button style="vertical-align:top;" class="btn">确认</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div>
 

