<!-- header part -->
<include file="Public/header" />
<!-- content part -->
<div class="content">
    <!-- nav part-->
    <include file="Public/nav" />
    <!-- from part-->
    <div class="row-fluid fl" id="main">
    <style type="text/css">
        .textarea{width: 215px; min-height: 110px; border: 1px solid #ccc;}
        .textarea p{
            padding: 0 10px;
            margin: 5px;
        }
        .control-group{position: relative;}
        .control-group .elected{position: absolute; top: 0;left: 0;}
        .control-group .textarea{margin-left: 190px;}
        .btn-groups .btns{
            margin: 150px 0 50px 90px;
            padding: 8px 35px;
            border-radius: 7px;
        }
    </style>
        <div class="tableBox">
            <div class="titleBar">工单管理/<span>新增工单</span></div>
            <div class="formBox">
                <form class="" action="__URL__/add" method="post">
                    <div class="control-group">
                        <span>工单号</span>
                        <!-- 需加数字验证 -->
                        <input type="text" class="control" name="number" placeholder="请输入年月日+机组ID..." style="width:210px;">
                    </div>
                    <div class="control-group">
                        <span>处理人</span>
                        <input type="text" class="control" name="name" placeholder="请输入处理人姓名..." style="width:210px;">
                    </div>
                    <div class="control-group">
                        <span>处理人电话</span>
                        <input type="text" class="control" name="phone" placeholder="请输入处理人电话..." style="width:210px;">
                    </div>
                    <div class="control-group">
                        <span>维护类型</span>
                        <input type="radio" class="control" name="type" value="0" checked>安装&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" class="control" name="type" value="1">维修&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" class="control" name="type" value="2">维护&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="control-group">
                        <span>工作内容</span>
                        <textarea name="content" cols="30" rows="5"></textarea>
                    </div>
                    <div class="control-group">
                        <span>地址</span>
                        <!-- 此处需要三级联动 -->
                        <input type="text" class="control" name="address" placeholder="请输入地址..." style="width:210px;">
                    </div>
                    <div class="control-group">
                        <span>处理结果</span>
                        <input type="radio" class="control" name="result" value="0" checked>未处理&nbsp;&nbsp;&nbsp;
                        <input type="radio" class="control" name="result" value="1">正在处理&nbsp;&nbsp;&nbsp;
                        <input type="radio" class="control" name="result" value="2">已处理&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="control-group">
                        <span>处理时间</span>
                        <!-- 需要时间插件 -->
                        <input type="date" class="control" name="time"  style="width:210px;">
                    </div>
                    <div class=" btn-groups">
                        <button class="btns reset" type="reset">重置</button>
                        <button class="subbtn btns" type="submit">提交</button>
                    </div>
                    

                </form>
            </div>
        </div>
        <!-- footer part -->
        <include file="Public/footer"/>
    </div>
</div>
<script>
    var filter="",textareaHtml1="";
    var b=0;
    //添加滤芯项
    $("select").change(function(){
        b++;
        if(b>8){
            alert("不能超过8个滤芯！");
        }else{
            var i=0,textareaHtml2="";
            //设置显示已选择滤芯 
            textareaHtml1+="<p class='inline form-control'>"+$("select option:selected").text()+"<input type='hidden' name='' value='"+$("select option:selected").val()+"' /></p>";
            $(".textarea").html(textareaHtml1);
            for (;i<$(".textarea").children().length; i++) {
                filter='did'+(i+1).toString();
                $(".textarea p").eq(i).children("input").attr("name",filter);
            }
            // 设置未选择滤芯
            var lengths=8-$(".textarea").children().length;
            if(lengths>0){
                for(var j=0;j<lengths;j++){
                    textareaHtml2+="<p class='inline form-control' style='visibility:hidden;'>''<input type='hidden' name='did"+(i+1+j).toString()+"' value='' /></p>"
                }
            }
            $(".textarea").append(textareaHtml2);
        }
        
    });
    //重置
    $(".reset").click(function(){
        textareaHtml="";
        $(".textarea").html("");
    });    
</script>
