<!-- header part -->
<include file="Public/header" />
<!-- content part -->
<div class="content">
    <!-- nav part-->
    <include file="Public/nav" />
    <!-- from part-->
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">IC卡管理/<span>编辑IC卡</span></div>
            <div class="formBox">

                <foreach name="info" item="vo">

                <form class="" action="__URL__/edit" method="post">
                    
                    <input type="hidden" name="id" value="{{$vo.id}}">
                    
                    <div class="control-group">
                        <span>IC卡编号</span>
                        <input type="text" name="iccard" value="{{$vo.iccard}}">
                    </div>
                    <div class="control-group">
                        <span>计费类型</span>
                        <switch name="vo.type">
                            <case value="0">
                                免费卡：<input type="radio" name="type" value="0" checked>
                                计费卡：<input type="radio" name="type" value="1">
                            </case>
                            <case value="1">
                                免费卡：<input type="radio" name="type" value="0">
                                计费卡：<input type="radio" name="type" value="1" checked>
                            </case>
                            <default />
                        </switch>
                    </div>
                    <div class="control-group">
                        <span>持有人</span>
                        <input type="text" name="name" value="{{$vo.name}}">
                    </div>
                    <div class="control-group">
                        <span>学籍号</span>
                        <input type="text" name="studentcode" value="{{$vo.studentcode}}">
                    </div>
                    <div class="control-group">
                        <span>学校</span>
                        <input type="text" name="school" value="{{$vo.school}}">
                    </div>
                    
                    <div class="control-group">
                        <button class="btn btn-primary " type="submit" style="display: block; padding: 2px 40px;margin:20px auto">确认</button>
                    </div>
                </form>
                </foreach>
            </div>
        </div>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
    <!-- footer part -->
    <!-- <include file="Public/footer" /> -->
</div>
