<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
<script src="__PUBLIC__/Home/js/public.js"></script>
<title>馨品共享水</title>
</head>
<body>
    
    <!-- nameList -->
    <section class="nameList">
        
    </section>
    <!-- slider --> 
    <section class="nodeList"> 
        <ul>
            <li>asdfads</li>
            <li>asdfd</li>
            <li>asdfads</li>
            <li>asdfd</li>
        </ul>
    </section>
    <!-- footer -->
    <footer>
        <a href="{{:U('Home/index/index')}}"><span class="logo1"></span>首页</a>
        <a href="{{:U('Home/Consume/index')}}"><span class="logo2"></span>饮水记录</a>
        <a href="{{:U('Home/Flow/recharge')}}"><span class="logo3"></span>充值</a>
        <a><span class="logo4"></span>扫码取水</a>
        <a href="{{:U('Home/Users/mine')}}"><span class="logo5"></span>我的</a>
    </footer>

</body>
</html>
