<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
<script src="__PUBLIC__/Home/js/public.js"></script>
<title>馨品共享水</title>
</head>
<body>
    
    <!-- nameList -->
    <section class="nameList">
        
    </section>
    <!-- slider --> 
    <section class="nodeList"> 
        <ul>
            <li>asdfads</li>
            <li>asdfd</li>
            <li>asdfads</li>
            <li>asdfd</li>
        </ul>
    </section>
    <!-- footer -->
    <footer>
        <section class="">
            <div class="logo1"></div>首页
        </section>
        <section class="">
            <div class="logo2"></div>饮水记录
        </section>
        <section class="">
            <div class="logo3"></div>充值
        </section>
        <section class="">
            <div class="logo4"></div>扫码取水
        </section>
        <section class="">
            <div class="logo5"></div>我的
        </section>
    </footer>

</body>
</html>
