<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<title>充值</title>
</head>
<body>
<!-- rechargeOption -->
<section class="rechargeOption container">
	<section class="textOption">选择充值金额</section>
	<ul class="col-xs-12 listOption ">
		<li class="col-xs-4"><a href="#">￥20</a></li>
		<li class="col-xs-4"><a href="#">￥30</a></li>
		<li class="col-xs-4"><a href="#">￥50</a></li>
	</ul>
	<ul class="col-xs-12 listOption ">
		<li class="col-xs-4"><a href="#">￥100</a></li>
		<li class="col-xs-4"><a href="#">￥150</a></li>
		<li class="col-xs-4"><a href="#">￥200</a></li>
	</ul>
    
</section>
<ul class="payList">
	<li>
		<a href="#"><i class="i1"></i>微信支付<span></span></a>
	</li>
	<li>
		<a href="#"><i class="i2"></i>支付宝支付<span></span></a>
	</li>
</ul>
<section class="container">
	<button class="rechargeBtn btn text-center form-control">确认充值</button>
</section>
<footer>
    <a class="btn1" href="{{:U('Home/index/index')}}"><span class="logo1"></span>首页</a>
    <a class="btn2" href="{{:U('Home/Consume/index')}}"><span class="logo2"></span>饮水记录</a>
    <a class="btn3" href="{{:U('Home/Flow/recharge')}}"><span class="logo3"></span>充值</a>
    <a><span class="logo4"></span>扫码取水</a>
    <a class="btn4" href="{{:U('Home/Users/mine')}}"><span class="logo5"></span>我的</a>
</footer>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
<script src="__PUBLIC__/Home/js/public.js"></script>
<script src="__PUBLIC__/Home/js/jquery-1.11.1.min.js" ></script>
<script>
    $(".logo3").css("background-position","-1.8rem -1.8rem");
    $(".btn3").css("color","#008C63");
</script>
</body>
</html>