<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
	<form action="__URL__/add" method="post" name="formUser">
		<table width="600"  border="1" align="center" cellpadding="5" cellspacing="3">
			<caption><h3>IC卡管理-添加</h3></caption>
			<tr>
				<td align="right">IC卡编号</td>
	        	<td><input type="text" name="iccard" ></td>
	        </tr>
			<tr>
				<td align="right">学籍号</td>
	        	<td><input type="text" name="studentcode" ></td>
	        </tr>

			<tr>
				<td align="right">学校</td>
	        	<td><input type="text" name="school" ></td>
	        </tr>

			<tr>
				<td align="right"></td>
				<td><input type="submit" value="添加" class="button"></td>
			</tr>
		</table>
	</form>
</body>
</html>