<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
<script src="__PUBLIC__/Home/js/public.js"></script>
<title>IC卡管理</title>
</head>
<body>

    <!-- addID --> 
    <section class="container IDshow"> 
        <section class="IDshowBg">
        	<span class="IDtext text-center">1234567895464655484</span>
        </section>
        <button class="set btn-defalut pull-right">设置</button>
    </section>
    <button class="addIDbtn"><span><a href="{{:U(add)}}">添加IC卡</a></span></button>


</body>
</html>
