<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <button class="btn btn_primary" onclick="scanQRCode1()">scanQRCode(直接返回结果)</button>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>

  // 通过config接口注入权限验证配置
  wx.config({
    debug: true,
    appId: '{{$signPackage["appId"]}}',
    timestamp: {{$signPackage["timestamp"]}},
    nonceStr: '{{$signPackage["nonceStr"]}}',
    signature: '{{$signPackage["signature"]}}',
    // 所有要调用的 API 都要加到这个列表中
    jsApiList: [
      'scanQRCode' //扫一扫
    ]
  });

  // 通过ready接口处理成功验证
  wx.ready(function () {
    // 在这里调用 API
  });

  function scanQRCode1(){
    wx.scanQRCode({
      needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
      scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
      success: function (res) {
        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
        if(result){
          alert(result);
        }else{
          console.dir('扫描失败：10000');
        }
      }
    }); 
  }

  // 通过error接口处理失败验证
  wx.error(function(res){
      // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
      console.dir('接口失败：10001');
  });
</script>

</html>