<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>消息推送主页</title>
</head>
<body>
	<form action="__URL__/editor">
		<table border="1" width="300">
			<tr>
				<td><input type="checkbox" name="id" value="1" /></td>
				<td>有缘v有份</td>
				<td>13425492760</td>
			</tr>
			<tr>
				<td><input type="checkbox" name="id" value="2" /></td>
				<td>Bboy灬小帅℡</td>
				<td>13544133132</td>
			</tr>
			<tr>
				<td><input type="checkbox" name="id" value="3" /></td>
				<td>一路的风景</td>
				<td>13212551346</td>
			</tr>
			<tr>
				<td><input type="checkbox" name="id" value="4" /></td>
				<td>蘑菇大人</td>
				<td>13824556746</td>
			</tr>
			<tr>
				<td colspan="3"><input type="submit" value="推送" /></td>
			</tr>
		</table>		
	</form>
</body>
</html>